<div class="container">

    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{nav_name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
</div>

<div class="container" *ngFor=" let post of posts">
  <div class="card" *ngFor=" let d in post.results"  >
    <div class="card-title">
  </div>
  <div class="card-body">
  </div>
    <pre>{{ d | json}}</pre>
    <pre>{{post | json}}</pre>
  </div>
</div>